---
---
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include head.html %}
  <title>{{ page.title }}</title>
</head>
<body role="document">
{% include navbar.html %}
<div class="container" role="main">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">{{ page.title }}</h1>
    </div>
    <div class="panel-body">
      {{ content }}
    </div>
    <div class="panel-footer">
      Tags:
      {% for tag in page.tags %}
      <span class="label label-default">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
</div>
</body>
</html>